<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">
    <link rel="icon"  href= "{{ url_for('static', filename='clover.png') }}">
</head>
<body style="height: 100vh; margin: 0; padding: 0; 
             background: url('{{ url_for('static', filename='procees.jpg') }}') no-repeat center center fixed, #6a11cb; 
             background-size:cover; font-family:'Poppins', sans-serif; color: white; text-align: center; 
             display:flex; justify-content:center; align-items:center; ">
    <div class="admin-container">
        <h1>User Data</h1>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages" style="list-style: none;padding: 10px;background: #28a745;color: white;
                border-radius: 6px;
                margin-bottom: 15px;">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- User Management Table -->
         <div class="user_container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td> <!-- Show first 20 characters of the hashed password -->
                        <td>
                            <form action="/user_delete/{{ user[0] }}" method="POST" style="display:inline;">
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
         </div>
        <form action="/user_clear" method="POST" style="display:inline;">
            <button type="submit" class="button_clear_button">Clear All</button>
        </form>

    </div>
    <div class="action-buttons">
        <a style="text-decoration: none;" href="/admin/dashboard" class="top-left">⬅️ Go Back</a>
    </div>
</body>
</html>